
.top{
  align-items: center;
  text-align: center; 
  color: white;
  background-image: url("/images/ranchi-bg.png");
  width: max;
  height: 380px;
 
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;

}

h2{
  margin-top: 7%;
  
}
h3 {
  margin-top: 7.052%;
}

h3 span{
 background:blue;
  padding: 0px 10px;
}

#green-bg{
  background: #00cc99 ;
  padding: 0px 10px;
}
